@import "../../node_modules/font-awesome/css/font-awesome.min.css";

/*
a - inline (0)
b---id (0)
c---atributos (CLASS) y pseudoclases
d --elementos

*/

:root {
    --color-principal: maroon;
  }
  

h1, h2{
    color: var(--color-principal)
}

header h1 {
    font-size: 2rem;
} /* 0 0 0 2 */

h1 {
    font-size: 3rem;
} /* 0 0 0 1 */ 

h1.enorme {
    font-size: 5rem
}  /* 0 0 1 1*/

header>p {
    color: greenyellow;
}

p[lang="en"]:hover span {
    color:firebrick;
    font-size: 3rem
}

p[lang="en"]::first-letter {
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul::after {
    content: "Aqui termina una lista";
    color: plum
}

ul::before{
    content: "Aqui empieza una lista";
    color: plum

}

p:nth-child(2) {
    color: lightsalmon;
}

p~p  {
    color:dodgerblue;
}


/* #p1 {
    color: lightsalmon;
}

.verde {
    color:green;
    font-size: 2rem;
}

p {
    color: hotpink;
}

.grande {
    font-size: 1.4rem
} */